.ShopItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 250px;
    margin: 10px;
}

.ShopItem p {
    color: rgb(43, 43, 43);
}

.shop-product-image {
    width: 150px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}