.Shop {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.shop-page-header {
    width: 90%;
    margin-bottom: 10px;
    text-align: left;
}

.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}